<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JobLogicAssignment.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84A4ABAC2878284C0031C47C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84A4ABC52878284E0031C47C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84A4ABCF2878284E0031C47C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
